<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--init driver-->
<suite name="Smoke">

    <test name="Registration and login">
        <classes>
            <class name="ua.startit.SignUpTest"/>
            <class name="ua.startit.SignInTest"/>
        </classes>
    </test>
</suite>
